.hero {
  background-image: url("../../../../public/images/1.JPG");
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.hero .container {
  padding-top: 5%;
}
.hero h1 {
  
  color: rgb(0, 0, 0);
  font-size: 60px;
  opacity: 0.7;
  text-shadow: rgb(51, 40, 40);
}
.hero p {
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
form {
  background-color: transparent;
  border-radius: 50px;
  margin-top: 0px;
  margin-left:290px;
  padding: 0 15px;
  width: 70%;

}
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-radius: 5px;
}
form span {
  font-size: 9px;
  color: rgb(21, 0, 255);
}
input::placeholder {
  font-size: 17px;
  color: rgb(121, 103, 103);
}
form .box {
  padding: 1px;
  border-left: 0px solid rgba(0, 0, 0, 0.2);
}
form .box:nth-child(1) {
  border-left: none;
}
form h4 {
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}
